@font-face {
	/* prettier-ignore */
	font-family:'Dejavu Sans';
	/* prettier-ignore */
	src:url('fonts/dejavu-2.33/ttf/DejaVuSans.ttf');
	font-display: block;
}

@font-face {
	/* prettier-ignore */
	font-family:'Free Sans';
	/* prettier-ignore */
	src:url('fonts/freefont-20100919-ttf/FreeSans.ttf');
	font-display: block;
}

@font-face {
	/* prettier-ignore */
	font-family:'Free Serif';
	/* prettier-ignore */
	src:url('fonts/freefont-20100919-ttf/FreeSerif.ttf');
	font-display: block;
}

@font-face {
	/* prettier-ignore */
	font-family:'Symbola';
	/* prettier-ignore */
	src:url('fonts/symbola-6.05/Symbola605.ttf');
	font-display: block;
}

@font-face {
	/* prettier-ignore */
	font-family:'Noto Emoji';
	/* prettier-ignore */
	src:url('fonts/Noto_Emoji/NotoEmoji-VariableFont_wght.ttf');
	font-display: block;
}

@font-face {
	/* prettier-ignore */
	font-family:'Noto Symbols 2';
	/* prettier-ignore */
	src:url('fonts/Noto_Sans_Symbols_2/NotoSansSymbols2-Regular.ttf');
	font-display: block;
}

html,
body {
	box-sizing: border-box;
	color: #555;
	/* https://github.com/necolas/normalize.css/issues/519#issuecomment-197131966 */
	font-family: monospace, monospace;
	height: 100%;
	margin: 0;
	padding: 0;
}

.symbol {
	display: inline-block;
	font-family: 'Noto Emoji', 'Noto Symbols 2', 'Dejavu Sans', 'Free Serif',
		'Free Sans', 'Symbola' !important;
}
